.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: blanchedalmond;
}

.center {
    text-align: center;
}